<!DOCTYPE html>
<html>
<head>
  <title>Parkcontroller</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <!--[if IE]>
      <link rel="stylesheet" href="/assets/css/ie.css">
      <![endif]-->
    <!--[if lte IE 8]>
      <script src="/assets/vendor/respond.js"></script>
      <![endif]-->
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>

      <%= yield %>
<%= render :partial => "layouts/google_analytics" if Rails.env == 'production' %>
    </body>
    </html>

        